body {
	FONT-FAMILY: arial,sans-serif
}
td {
	FONT-FAMILY: arial,sans-serif
}
A {
	FONT-FAMILY: arial,sans-serif
}
P {
	FONT-FAMILY: arial,sans-serif
}
.h {
	FONT-FAMILY: arial,sans-serif
}
.h {
	FONT-SIZE: 50px
}
.q {
	COLOR: #0000cc
}